<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    
        // var obj = new Object();
        // obj.name = "小明"
        // var obj2 = obj;
        // obj.name = "猪八戒"
        // // 两个变量保存的是同一个对象引用，当一个变量修改属性时另一个也会受到影响。。
        // obj2 = null;
        // console.log(obj);
        // console.log(obj2);
        var obj1 = new Object();
        var obj2 = new Object();
        obj1.name = "ddp"
        obj2.name = "ddp"
        console.log(obj1 ==  obj2)
        

        
    
    </script>
</head>
<body>
    
</body>
</html>