<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
    /* 可以在函数的（）中指定一个或多个函数形参（形式参数）
    函数的实参可以是任意的数据类型
    多个形参之间用,隔开 声明形参相当于在函数内部声明了对应的变量，但是并不赋值
    */
    function add(a,b){
        console.log("a ="+a)
        console.log("b ="+b)
        console.log(a+b)
    }
    /* 当调用时可以在（）中指定实参（实际参数） */
    /* 调用函数时解析器不会检查实参的类型 */
    /* 解析器也不会检查实参的个数多余实参不会被赋值 */
    // add(1,5);
    // add(520,"你好");
    add(250);
    </script>
</head>
<body>
    
</body>
</html>