<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var add = new Object();
        add.name = "孙悟空";
        add.age = 18
        // 函数变成了对象的属性 如果一个函数作为一个对象的属性保存那么调用这个函数就是说调用对象的方法
        add.sayname = function(){
            console.log(add.name);
        }
        add.sayname();
    //   function niubi(){
    //       console.log("牛笔")
    //   }
    //   niubi();
    </script>
</head>
<body>
    
</body>
</html>