<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function fun(){
            alert("开始了");
            for (i=1;i<=5;i++){
                
                if(i == 2){
                    // continue;
                    break
                }
                console.log(i);
            }
            alert("结束了");
        }
        fun();
    </script>
</head>
<body>
    
</body>
</html>